@font-face {
    font-family: "Metropolis";
    src: url("assets/fonts/Metropolis-Regular.woff");
}

:root {
    --light-grey: #A9A9A9;
    --dark-grey: #141414;
    --transparent-grey: rgb(0,0,0,0.70);
    --black: #0C0C0C;
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--transparent-grey);
    font-family: "Metropolis";
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    scroll-snap-type: y mandatory;
}

section.scroll-snap {
    scroll-snap-align: start;
}

section:not(.no-padding) {
    padding: 50px;
}

section div{
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin: 0 50px;
}

h3 {
    font-size: 1.8rem;
}

p ,
button {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--light-grey);
    font-weight: 900;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%; 
    z-index: 0;
}

#dots {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}

.intro,
.intro div {
    background-color: var(--black);
    height: 100vh;
}

.intro div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.intro div h1 span {
    color: var(--light-grey);
}

.about div:not(.divider) {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    align-items: center;
}

.about div img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.skill {
    margin: 10px auto;
    transition: transform 0.4s ease;
}

div.skill:hover {
    transform: scale(1.2);
}

.skill h4 {
    text-align: center;
}

.skill div {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill span {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill#html div ,
.skill#html span {
    background-image: url("assets/svgs/html-5.svg");
}

.skill#css div,
.skill#css span {
    background-image: url("assets/svgs/css-3.svg");
}

.skill#scss div {
    background-image: url("assets/svgs/scss2.svg");
}

.skill#javascript div,
.skill#javascript span {
    background-image: url("assets/svgs/javascript.svg");
}

.skill#bootstrap div,
.skill#bootstrap span {
    background-image: url("assets/svgs/bootstrap-5.svg");
}

.skill#python div {
    background-image: url("assets/svgs/python.svg");
}

.skill#php div,
.skill#php span {
    background-image: url("assets/svgs/php.svg");
}

.skill#mysql div,
.skill#mysql span {
    background-image: url("assets/svgs/mysql.svg");
}

.skill#sqlserver div {
    background-image: url("assets/svgs/microsoftsqlserver.svg");
}

.skill#postgresql div {
    background-image: url("assets/svgs/postgresql.svg");
}

.skill#mongo div {
    background-image: url("assets/svgs/mongo.svg");
}

.skill#firebase div {
    background-image: url("assets/svgs/firebase.svg");
}

.skill#flutter div {
    background-image: url("assets/svgs/flutter.svg");
}

.skill#cplusplus div,
.skill#cplusplus span {
    background-image: url("assets/svgs/c-plus-plus.svg");
}

.skill#java div,
.skill#java span {
    background-image: url("assets/svgs/java.svg");
}

.skill#jenkins div {
    background-image: url("assets/svgs/jenkins.svg");
}

.skill#jira div {
    background-image: url("assets/svgs/jira.svg");
}

.skill#git div {
    background-image: url("assets/svgs/git.svg");
}

.skill#postman div {
    background-image: url("assets/svgs/postman.svg");
}

.skill#confluence div {
    background-image: url("assets/svgs/confluence.svg");
}

.project {
    position: relative;
    overflow: hidden;
    display: flex;
    border: 3px solid var(--light-grey);
    border-radius: 25px;
    box-shadow: 0px 0px 20px var(--light-grey);
    margin-top: 100px;
}

.project .img-container {
    flex: 2;
    overflow: hidden;
    max-width: 600px;
    aspect-ratio: 1.5 !important;
}

.project .img-container img {
    max-width: 1200px;
    object-fit: cover; 
    object-position: top left;
    transform-origin: top left;
    transition: transform 0.5s ease; 
}

.project img:hover {
    transform: scale(0.6);
    transform-origin: top left;
}

.project .languages {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.project .description {
    flex: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project .links {
    display: flex;
    margin: 20px 0;
    gap: 30px;
}

.project a {
    display: block;
    padding: 15px;
    border: 2px solid #036303;
    box-shadow: 0px 0px 5px #036303;
    border-radius: 25px;
    width: max-content;
    transition: transform 0.4s ease;
}

.project a:first-child {
    border-color: #ad0606;
    box-shadow: 0px 0px 5px #ad0606;
}

.project a:hover {
    transform: scale(1.2);
}


.project.reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.project.reverse .img-container{
    position: relative;
}

.project.reverse .img-container img {
    position:absolute;
    top:0;
    right:0;
    transform-origin: top right;
}

.project.reverse img:hover {
    transform-origin: top right;
}

.project.reverse .languages{
    left: 0;
    right: 10px;
}

.project.reverse .links{
    justify-content: end;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: var(--black);
    color: var(--light-grey);
}

footer a {
    padding: 0 25px;
}

footer a i {
    padding-right: 5px;
}

footer p {
    padding-top: 25px;
}

.cursor {
    display: inline-block;
    color: white !important;
    margin-left: 2px;
    opacity: 0;
}




.divider { 
    display: table;
    margin: 40px auto;
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 20px;
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
    background-image: -webkit-linear-gradient(180deg, transparent, #fff);
    background-image: -moz-linear-gradient(180deg, transparent, #fff);
    background-image: -o-linear-gradient(180deg, transparent, #fff);
    background-image: linear-gradient(90deg, transparent, #fff);
}

.divider span:nth-child(2) {
    color: #ffffff;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #fff, transparent);
    background-image: -moz-linear-gradient(180deg, #fff, transparent);
    background-image: -o-linear-gradient(180deg, #fff, transparent);
    background-image: linear-gradient(90deg, #fff, transparent);
}



/*test*/

.slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 40px;
}

.slide-track {
    padding-top: 20px;
    display: inline-block;
    animation: scroll 20s linear infinite;
}

.slide-track.reverse {
    animation: scroll-reverse 20s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused; 
}

.slide {
    display: inline-block;
    width: 200px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .project img {
        transform: scale(0.6)!important;
    }
    
    .project img:hover {
        transform: none!important;
    }

    .skill h4 {
        font-size: 1.3rem !important;
    }

    footer a {
        padding: 0 !important;
    }
}
